.event{
  margin: 0 0 1em 0;
  @extend .center;
  .container__form--title{
  text-align: center;
  color: $secondary_color;
  margin-bottom: 42px;
  }
}
.event_form{
  @extend .horizontalCentering;
  // .form-group {
  //   position: relative;
  // }
input, select, textarea {
  border-radius: 0.5em;
  font-family: $font-family;
  background-color: $white_color;
  height: 2.6em;
  width: 16em;
  padding: 0.5em;
  margin-bottom: 2em;

  &::-webkit-input-placeholder {
      @include input
  }

  &::-moz-placeholder {
      @include input
  }
}

textarea {
  height: 10em;
}

label {
  color: #eee;
  font-size: 0.9em;
  letter-spacing: 1px;
}

  button{
    @extend .borderStyles;
    @extend .button;
    @extend .center;
    font-size: 1em;
  }
}

.icon--close{
  color: $secondary_color;
  margin: 10px;
}
.event--link {
  text-align: end;
  width: 100%;
}
@media (min-width: $media-tablet){
  .event{
    padding-top: 100px;
  }
}