.event{
  margin: 0 0 1em 0;
  @extend .center;
  .container__form--title{
  text-align: center;
  color: $secondary_color;
  margin-bottom: 42px;
  }
}
.event_form{
  @extend .horizontalCentering;
  input{
    @extend .borderStyles;
    font-family: $font-family;
    background-color: $white_color;
    width: 16em;
    height: 2.6em;
    margin-bottom: 1em;
    padding: 0 1.5em;
    
    &::-moz-placeholder {
      @include input
    }
  }
  
  select{
    @extend .borderStyles;
    width: 19em;
    height: 2.6em;
    margin-bottom: 1em;
    padding: 0 1.5em;
  }

  textarea{
    font-family: $font-family;
    background-color: $white_color;
    border-radius: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em;
  }

  button{
    @extend .borderStyles;
    @extend .button;
    @extend .center;
    font-size: 1em;
  }
}

.icon--close{
  color: $secondary_color;
  margin: 10px;
}
.event--link {
  text-align: end;
  width: 100%;
}
@media (min-width: $media-tablet){
  .event{
    padding-top: 100px;
  }
}