.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    &__logo{
        width: 50%;
        min-width: 200px;
        max-width: 300px;
    }
    .icons{
        color: $secondary_color;
        width: 40px;
        height: 40px;
        text-align: left;
        padding: 0 0.5em;
        text-align: center;
        font-size: 2em;
        position: relative;
    }

    .header__menu__item {
        font-size: 20px;
    }
    // .postIcon{
    //     position: fixed;
    //     bottom: 60px;
    //     right: 12px;
    // }

    .list {
        display: block;
        background-color: $white_color;
        transition: .3s all ease;
        padding: 20px;
        margin: 10px 0;
        position: fixed;
        right: 0;
    }
    .hide {
        right: -200%;
    }
}

@media (min-width: $media-tablet){
    .header{
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        // .postIcon{
        //     position: initial;
        // }
        .header__logo{
            width: 30%;
        }
    }
}

  @media (min-width: $media-notebook) {
    .header__logo{
        width: 20%;
    }
    .list {
        @include flex;
    }
}
