.login {
  background: $primary_color;
  height: 100vh;
  text-align: center;
  &__container {
    padding-top: 50px;
  }
  &__logo {
    width: 50%;
  }
  &__title {
    color: $secondary_color;
    margin-top: 40px;
  }
  &__text {
    color: $white_color;
    font-weight: normal;
    font-size: 0.9em;
    margin-top: 40px;
  }
  &__google{
    text-decoration: none;
    color: $secondary_color;    
  }
  &__register {
    color: $secondary_color;
    text-decoration: none;
  }  
}

.form {  
  min-height: calc(100vh - 350px);
  @extend .display;  
  &__email {
    @extend .input;      
  } 
  &__password{
    @extend .input; 
  }
  &__button {
    @extend .button;
  }
}
