.start {
  /*background-image: linear-gradient(
    rgba(250, 77, 0, 0.7), 
    rgba(229, 232, 236, 0.3)
  ), url('../assets/inicio.jpg');*/
  background-size: cover;  
  text-align: center;  
  height: 100vh;  
  &__container {
    padding: 61% 0px;
  }
  &__logo {
    width: 60%;
  }
  &__slogan {
    font-size: 1em;
    letter-spacing: 1px;
    color: $white_color;
    margin: 0px;
  } 
}