.timeline-container {
  @extend .center;
}

.event {
  background-color: $white_color;
  color: $white_color;
  margin: 0 auto;
  min-height: 300px;
  width: 80%;
}

.event__info {
  @include flex;
}

.user {
  @include flex;
}

.sport {
  @include flex;
}

.event__interaction {
  @include flex;
}