@import './base/_variables.scss';
@import './_start.scss';
@import './_formStyles.scss';
@import './_timeline.scss';
@import './_event.scss';
@import './_header';
@import './_feedback.scss';
@import './error404';

li {
    list-style: none;
}

body {
    background-color: $primary_color;
    font-family: $font-family;
    margin: 0;
}
