@import './base/_variables.scss';
@import './_start.scss';
@import './_formStyles.scss';
@import './_timeline.scss';

*{
    background-color: $primary_color;
    font-family: $font-family;
    margin: 0;
}
