<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gayathri&display=swap" rel="stylesheet">

</head>
<body>
    <section class="cajaPrincipal" id="mainBox">
        <img class="logo" src="img/logo-newStyle.png" alt="logo-newStyle">

        <h2 class="slogan">Un espacio para consentirte,<br>cuidarte y ser mas bella.</h2>
        <div class="contenedor-form"  id="formContacto">
            <div class="toggle">
            </div>
            <div class="formulario">
                <h2>Iniciar Sesion</h2>
                <form action="#" method="POST">

                    <label for=""></label>
                    <input type ="text"placeholder="Usuario" id = "usuario" required>

                    <label for="contrasena"></label>
                    <input type ="password" placeholder ="Contraseña" id = "contrasena" required>

                    <label for="in-sesion"></label>
                    <input type ="submit" id = "in-sesion" value="Iniciar Sesión">
                </form>
            </div>
            
            <div class="othersAccounts">

                <a href="#/crearcuenta">Crear Cuenta</a> <br>
                <a href="#/facebook">Ingresar con Facebook</a><br>
                <a href="#/google">Ingresar con Google</a><br>


            </div>
                

        </div>
    </section>
    
</body>
</html>