
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gayathri&display=swap" rel="stylesheet">

</head>
<body>
    <section class="cajaPrincipal" id="mainBox">
        <img class="foto" src="img/PELO.JPG" alt="pelo" >
        <img class="logo" src="img/logo-newStyle.png" alt="logo-newStyle">

        <h2 class="slogan">Un espacio para consentirte,<br>cuidarte y ser mas bella.</h2>
        <div class="contenedor-form">
            <div class="toggle">
            </div>
            <div class="formulario">
                <h2>Registro</h2>
                <form action="#">
                    <input type ="text"placeholder="Usuario" required>
                    <input type ="email" placeholder ="Email" required>
                    <input type ="name" placeholder ="Nombre" required>
                    <input type ="lastName" placeholder ="Apellidos" required>
                    <input type ="date" placeholder ="Fecha de nacimiento" required>
                    <li>Acepto términos y condiciones.</li> 
                    <br>
                    <input type ="submit" value="Aceptar">
                </form>
            </div>
                
       
        </div>
    </section>
    
</body>
</html>