*{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}

body{
    background:#7AE8AB;
}

/*Styles Login*/

.header .logo-adopt{
   margin-left: 85%;
    width: 15%;
}


.items-login{
    
}
.user {
    width: 100px;
    height: 80px;
    margin-left:60%;
 
}
.password{
    width: 100px;
    height: 80px;
    margin-left:60%;
}
 .form{   
    display: flexbox;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 75%;
} 
.user-placeholder{
    border: none;
    outline:none;
     background-color:#7AE8AB;
}
.password-placeholder{

    border: none;
    outline:none;
    background-color:#7AE8AB;

}

.user-placeholder::placeholder{
    color: white; 
    font-size: 15px;
}

.password-placeholder::placeholder { 
    color: white; 
}
.Gmail{
    width: 15%;
    height: 40%;
    margin-left: 85%;
}
.dogs-home{
    margin-left: 78%;
    width: 25%;
    height: 40%;
}