* {
  padding: 0%;
  margin: 0%;
  font-family: 'Gayathri', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  background-color: #DADADA;
  -webkit-background-size:cover;
  background-size: cover;
  background-attachment: fixed;
  
}
.cajaPrincipal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo {
  width: 60%;
  padding: 5%;
  
}
.foto{
  width:150px;
  height:150px;
  border-radius:150px;
  border:10px solid #951B81 ;
  display:flex;
  flex-direction: column-reverse;
}

.mainPhoto {
  width: 50%;
  padding-bottom: 5%;
}

.slogan {
  font-size: 30px;
  text-align: center;
  color: #951B81;
}

.linkIngresar{
  margin: 5%;
  width: 100px;
  height: 40px;
  background-color: #951B81;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;


}
.contenedor-form{
  position: relative;
  background: #DADADA;
  width: 100%;
  max-width: 500px;
  margin: 48px  auto;
  color:  #951B81;
  box-shadow: 0px 0px 10px 0px #333 inset;
  border-radius: 5px;
  padding-bottom: 3%;
}
 

.contenedor-form h2{
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="pasword"],
.contenedor-form input[type="email"],
.contenedor-form input[type="name"],
.contenedor-form input[type="lastName"],
.contenedor-form input[type="date"]{
  outline: none;
  background:white;
  width:100%;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid #951B81;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 20px 0;
  transition: all .5s ease;

}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="pasword"]:focus,
.contenedor-form input[type="email"]:focus,
.contenedor-form input[type="name"]:focus,
.contenedor-form input[type="lastName"]:focus,
.contenedor-form input[type="date"]:focus{
  border-bottom: 4px solid  #bd23a3;
}

.contenedor-form input[type="submit"]{
  background:  #951B81;
  color:white;
  border:none;
  width: 100%;
  padding: 10px 0;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all .5s ease;
}
.contenedor-form input[type="submit"]:hover{
  background:#bd23a3; 
}

.contenedor-form .reset-password{
  width: 100%;
  text-align: center;
 
}
.contenedor-form .reset-password a{
  color: #951B81;
  text-decoration: none;
  font-size: 16px;
}
.contenedor-form .formulario{
  padding: 40px;
}

