body {
    display: flex;
    margin: 8px;
}

header {
    width:100%;  
}
header nav {
	width:100%;
    background:#024959;
    border-radius: 5px;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
    padding:20px;
    display: flex;
    text-decoration:none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#037E8C;
}

header .btnCloseSession {
    display: flex;
    position: absolute; 
    top: 3%;
    left: 75%;
}

#container {
    display: flex;
    flex-flow: row wrap;
    margin: 8px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.registro {
    color: black;
    background-color: #27496ddd;
    width: 45%;
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap; 
    align-items: center;
}

input[type=text], input[type=password] {
    width: 70%;
    padding: 5px;
    margin: 3%;
    border: none;
    border: 1px solid;
    color: black; 
    border-radius: 8px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: rgba(245, 238, 135, 0.164);
}

.cancelarbtn, .registrarse {
    padding: 4px 10px;
    background-color: lightblue;
    border-radius: 6px;
    cursor: pointer;
}

#btninicio-sesion {
    padding: 8px;
    font-size: 14px;
    color: negro;
    background-color: #10a567;
    border-radius: 8px;
    width: 30%;
    cursor: pointer;
}

.modal {
    display: -webkit-flex;
    justify-content: center;
    position: absolute;
    top: 35%; 
}

.modal-content {
    display: flex;
    background-color: #77797cdd;
    padding: 2%;
    border-radius: 15px; 
    flex-direction: column;
}

.inicio-sesion {
    display: flex; 
    flex-flow: row wrap;
    justify-content:center;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 1%;
}

div.container-inicio {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 12px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
#texto-inicio {
    font-size: 20px;
    text-align: justify;
}

.close {
    color: white;
    font-weight: bold;
    margin-left: 95%;
    font-size: 35px;
    background-color: rgb(224, 69, 69);
    width: 25px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.login {
    font-size: 14px;
    border: 1px solid;
    color: black;
    width: 30%;
    background-color: #10a567;
    border-radius: 8px;
    cursor: pointer;
}

button.google-btn {
    border: 1px solid;
    font-size: 16px;
    background-color: coral;
    padding: 2%; 
    border-radius: 8px;
}

#principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3%;
    align-items: center;
    align-content: center;
}

img {
    max-width: 100%;
}

.cardPost {
    margin: 2%;
    background-color: lawngreen;
}
/*.errorMessage {
    color:black;
    font-size: 17px;
    background-color: #f17565dd;
    border-radius: 10px;
    padding: 3px;
    font-family: 'arial';
}
.messageSign {
    color:black;
    font-size: 17px;
    background-color: #f17565dd;
    border-radius: 10px;
    padding: 3px;
    font-family: 'arial'; 
}*/