body {
    display: block;
    margin: 8px;
    background-image: url(img/faro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.topNav {
    margin: 0;
    border: 3px solid;
    background: #197163;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.topNav a {
    float: none;
    display: inline;
    color:  white;
    text-align: center;
    padding: 2px 17px;
    text-decoration: none;
    font-size: 20px;
}

.topNav a:hover {
    background-color: black;
    color: yellow;
}

.content {
    margin: 5%;
    display: -webkit-flex;
    justify-content: center;
}

.registro {
    color: black;
    background-color: #27496ddd;
    width: 40%;
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap; 
    align-items: center;
}



input[type=text], input[type=password] {
    width: 70%;
    padding: 5px;
    margin: 3%;
    border: none;
    border: 1px solid;
    color: black; 
    border-radius: 8px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: rgba(245, 238, 135, 0.164);
}

.cancelarbtn, .registrarse {
    padding: 4px 10px;
    background-color: lightblue;
    border-radius: 6px;
    cursor: pointer;
}

#btninicio-sesion {
    padding: 8px;
    font-size: 14px;
    color: negro;
    background-color: #10a567;
    border-radius: 8px;
    width: 30%;
    cursor: pointer;
}

.modal {
    display: flex;
    display: -webkit-flex;
    justify-content: center; 
}

.modal-content {
    display: flex;
    background-color: #77797cdd;
    width: 37%;
    padding: 2%;
    border-radius: 15px; 
    justify-content: space-around;
    transition: 1s;
    transform: translateY(0%);
}

.inicio-sesion {
    display: flex; 
    flex-flow: row wrap;
    justify-content:center;
}
.close {
    color: white;
    font-weight: bold;
    font-size: 160%;
    position: absolute;
    right: 6px;
    top: 5px;
    background-color: rgb(224, 69, 69);
    width: 25px;
    height: 25px;
    line-height: 25px;
    display:inline-block;
    cursor: pointer;
    border-radius: 50%;
}

.login {
    font-size: 14px;
    border: 1px solid;
    color: black;
    width: 30%;
    background-color: #10a567;
    border-radius: 8px;
    cursor: pointer;
}

button.google-btn {
    border: 1px solid;
    font-size: 16px;
    background-color: coral;
    padding: 2%; 
    border-radius: 8px;
}