* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 8px;
}

/* ----------- Vista REGISTRO - Registro e inicio de sesion ------------*/

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 8px;
    width: 100%;
    height: 100%;
}


/* --------------------------Formulario Registro ------------------*/
div#registro {
    display: flex;
}

form#registro.registro {
    color: white;
    background-color: #27496ddd;
    top: auto;
    padding: 8%;
    border-radius: 15px;
    display: flex;
    flex-flow: column; 
    align-items: center;
}

/* Input form registro */

input.registro-input {
    width: 90%;
    padding: 3px;
    margin: 3%;
    border: 1px solid;
    color: black; 
    border-radius: 5px;
}

input.registro-input:focus {
    background-color: rgba(245, 238, 135, 0.164);
}

/* Texto Formulario */

p#text1, p#text2 {
    margin: 0%;
    font-size: 105%;
}

button.registrarse {
    width: 100%;
    margin-top: 8%;
    padding: 7px;
    font-size: 0.8em;
    font-weight: bold;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    border-radius: 8px;
    cursor: pointer;
}

button.startSession {
    width: 100%;
    margin-top: 8%;
    padding: 7px;
    font-size: 0.8em;
    font-weight: bold;
    background: #10a567;
    border-radius: 8px;
    cursor: pointer;
} 

/* -------------------Imagen Logo y Formulario Inicio Sesión----------------- */

img#logoMarca {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 8px;
    margin-left: 38%;
    width: 30%;
}

div.inicioSession {
    display: block;
    position: fixed;
}

form.inicio-sesion {
    display: flex;
    position: static;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: black;
    background-color: #27496ddd;
    padding: 4%;
    border-radius: 14px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    border: 0.5px solid #b1f4cf;
}

input.inputI {
    border-radius: 3px;
    width: 90%;
    height: 10%;
    padding: 2%;
    border: 1px solid black;
    margin-top: 4%;
}

input.login {
    font-size: 14px;
    border: 1px solid black;
    margin-top: 4%;
    padding: 2%;
    width: 90%;
    background-color: #10a567;
    border-radius: 3px;
    cursor: pointer;
}

button.google-btn {
    font-size: 14px;
    border: 1px solid black;
    margin-top: 4%;
    padding: 2%;
    width: 90%;
    background-color: coral;
    border-radius: 3px;
}

i#emoji {
    font-size: 215%;
    padding-top: 13%;
}

a#registry {
    margin-top: 7%;
    cursor: pointer;
    font-size: 110%;
    color: white;
    text-decoration-line: underline;
}

/* --------------------VISTA INICIO - TopNav---------------------------- */

header {
    width:100%;  
}

#inicio.topNav {
    width:100%;
    background:#024959;
    border-radius: 5px;
    border: 8px;
}

#inicio.topNav > ul {
    overflow:hidden;
	list-style:none;
}

#inicio.topNav > ul > li {
    float:left;
}

#inicio.topNav > ul > li > a {
    color: white;
    padding:20px;
    display: flex;
    text-decoration:none;
    font-size: large;
}

#inicio.topNav > ul > li > a:hover {
    background:#037E8C;
}

#inicio.topNav > ul > li#cerrar {
    float: right;
}

span {
    margin-right:10px;
}

img#header {
    display: fixed;
    width: 30%;
    margin-left: 10%;
}

div.container-VInicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 5%;
    margin-left: 5%;
}

section#info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 5%;
    margin-left: 5%;
}

h1#tituloI {
    font-family: 'Courgette', cursive;
    font-size: 190%;
    margin: 2%;
    text-align: center;
}

p#texto-inicio {
    font-size: 120%;
    text-align: justify;
    line-height: 170%;
}

img#inicio {
    max-width: 100%;
    height: auto;
}

/* ------------------------------ vista PUBLICACIONES------------------------------ */

/* ------Formulario Creacion de publicaciones------ */
div.container-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

form#form-post {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: 0.5px solid #b1f4cf;
    border-radius: 14px;
    width: 50%;
    height: 30%;
}

.form-control {
    width: 75%;
    padding: 1.5%;
    border: 1px solid;
    color: black; 
    border-radius: 5px;
    margin-top: 2%;
}

#file {
    width: 75%;
    margin-top: 4%;
}

.load-bar {
    width:41%;
    margin-right: 34%;
    margin-top: 2%;
    background-color: wheat;
    height: 10px;
}

.progress {
    display: block;
    background-color: rgb(73, 233, 73);
    height: 10px;
    width: 0;
}

button.publicar {
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4px;
    font-size: 0.8em;
    font-weight: bold;
    background: #29788add;
    border-radius: 8px;
    cursor: pointer;
}

/* --------------Publicaciones-------------- */

h1#nombreP {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 100%;
    font-weight: normal;
    margin-left: 10%;
}

img#fotoP {
    float: inline-start;
    width: 7%;
    height: 7%;
    border-radius: 50%;
}

h1#titleP {
    font-family: 'Courgette', cursive;
    font-size: 30px;
}

p#descriptionP {
    margin: auto;
    font-size: 18px;
    text-align: justify;
}


div.containerPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

div.cardPost {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: 0.5px solid black;
    padding: 2%;
    border-radius: 16px;
}

/* -----Likes----- */

i#btn-like {
    float: left;
    position: sticky;
    color: tomato;
    font-size: 1.5em;
}

#pLike {
    display: flex;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
}

/* -----Botones editar y eliminar----- */

.btn-edition {
    background: #29788add;
    width: 16%;
    margin-top: 1%;
    margin-left: 14%;
    margin-right: 2%;
    padding: 1%;
    border-radius: 6px;
    font-weight: bold;

}

.btn-delete {
    background: #29788add;
    width: 16%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    border-radius: 6px;
    font-weight: bold;
}

p#toDate {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    align-content: flex-end;
    font-weight: normal;
    margin-top: 5%;
}

/* ------------------------Vista Perfil.---------------------------- */ 

#containerProfile {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 5%;
}

img#pProfile {
    width: 40%;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50%;
}

p.nameP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10%;
    font-size: x-large;
    font-family: 'Courgette', cursive;
}

p.emailP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: x-large;
    font-family: 'Courgette', cursive;
}

/* -----  Sin modificar hacia abajo  -----*