* {
  padding: 0%;
  margin: 0%;
  font-family: 'Gayathri', sans-serif;
}


body {
  background-color: #DADADA;
}

.cajaPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo {
  width: 60%;
  padding: 5%;
}

.mainPhoto {
  width: 50%;
  padding-bottom: 5%;
}

.slogan {
  font-size: 15px;
  text-align: center;
  color: #951B81;
}

.linkIngresar{
  margin: 5%;
  width: 100px;
  height: 40px;
  background-color: #951B81;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

}